.button-index{
    background-color: #dddfe1;
    color: black;
    border-radius:solid 2px;
    border-style: outset;
    border-color: #dddfe1;


}

.button {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
    background-color: #dddfe1;
    color: black;
    border-radius:solid 2px;
    border-style: outset;
    border-color: #dddfe1;
}

.button-vender{
    background-color: #dddfe1;
    color: black;
    border-radius:solid 2px;
    border-style: outset;
    border-color: #dddfe1;
    
}

.button-registro{
    background-color: #dddfe1;
    color: black;
    border-radius:solid 2px;
    border-style: outset;
    border-color: #dddfe1;  
}

.button-contacto{
    background-color: #dddfe1;
    color: black;
    border-radius:solid 2px;
    border-style: outset;
    border-color: #dddfe1;  
}