/*---------navbar-------------*/
.container {
    padding: 50px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    li {
        text-transform: uppercase;

    }

    .navbar-brand {
        font-size: 40px;

    }

    a {
        color: rgb(66, 58, 58);
    }

}